.top-bar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.app-content {
  position: relative;
  padding-top: 110px;
  padding-right: 10%;
  padding-left: 10%;
}
